:root {
    --bs-blue: #0d6efd !important;
    --bs-indigo: #6610f2 !important;
    --bs-purple: #6f42c1 !important;
    --bs-pink: #d63384 !important;
    --bs-red: #dc3545 !important;
    --bs-orange: #fd7e14 !important;
    --bs-yellow: #ffc107 !important;
    --bs-green: #1db954 !important;
    --bs-teal: #20c997 !important;
    --bs-cyan: #0dcaf0 !important;
    --bs-black: #000 !important;
    --bs-white: #fff !important;
    --bs-gray: #6c757d !important;
    --bs-gray-dark: #343a40 !important;
    --bs-gray-100: #f8f9fa !important;
    --bs-gray-200: #e9ecef !important;
    --bs-gray-300: #dee2e6 !important;
    --bs-gray-400: #ced4da !important;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #1db954;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #1db954;
    --bs-link-hover-color: #198754;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
    color: #191414;
}

a{
    text-decoration: none;
}

.header{
    border-radius: 24px;
    margin: 16px;
    border: none;
    padding: 16px;
    box-shadow: 0 8px 20px rgb(117 115 111 / 20%) !important;
}

.sticky{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    position: sticky;
    z-index: 10;
    top: 16px !important;
    background-color: rgba(255, 255, 255, 0.75);
    -moz-background-color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.navbar-brand a{
    margin: 0 !important;
}

.header .btn i{
    font-size: 25px;
}

.menu .nav-item a{
    padding-right: 0 !important;
    color: #191414;
    font-weight: 600;
}

.btn-success{
    background-color: #1db954;
    border-color: #1db954;
}

.btn-toggle:hover,.btn-toggle:focus{
    color: rgba(25, 20, 20, .85) !important;
    background-color: #1bd95452 !important;
}

.btn-toggle{
    color: #191414 !important;
}

.card .card_text{
    margin-top: 150px !important;
}

.btn-primary {
    background: #1db954 !important;
    border-color: #1db954;
    color: #fff;
}

.bg-dark{
    background-color: #191414 !important;
}

.btn-animated .i{
    animation: btnAnimated 1s ease-in-out infinite;
    transform: translateY(-2px);
}

.i{
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    display: inline-flex;
    font: normal normal normal 1em/1 Material Design Icons;
    font-size: inherit;
    vertical-align: middle;
}


#loader{
    background-color: #fff;
}

.loading{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 14000;
    transition: opacity 3s linear 1s;
}
.loading img{
    width: 10%;
    opacity: 1;
}
.load-disabled .loading{
    opacity: 0;
}
#page{
    display: none;
}

.background {
    border-radius: 40px;
    background-image: url(../img/hero-img.jpg);
    background-position: center;
    background-size: cover;
    padding: 120px 0 75px;
    margin-right: 100px !important;
}

.background .title,
.background .ask-btn {
    /* margin: 46px; */
    color: #fff;
}

.background .title {
    font-weight: 800;
    font-size: 48px;
}

.background .ask-btn {
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(25px) !important;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 0 !important;
}

.ask-btn p {
    margin: 0 !important;
}

.ask-btn .btn {
    background-color: #1db954;
    color: #fff;
    border-radius: 30px;
}

.signup-form .btn-primary {
    border-radius: 20px;
    font-weight: 500;
}

.signup-form .border{
    border: 2px dashed #8e8e8e !important;
}

.signup-form__title{
    font-weight: 800;
}

.signup-form label{
    font-weight: 600;
    color: #8083A3;
}

.form-check-label {
    font-size: 14px;
    font-weight: 600;
    color: #8083A3;
}

.form-control {
    /* height: auto !important; */
    color: #000;
    font-weight: 800;
    border-radius: 10px;
    font-size: 16px;
}


.form-check-input:checked[type=checkbox] {
    background-color: #1db954 !important;
}

.signup-form .text {
    font-size: 14px;
    color: #8083A3;
}

.signup-form h2 {
    font-size: 34px;
    font-weight: 800;
}

.divider {
    background-color: #f5f5fa;
    height: 3px;
    border-radius: 3px;
    text-align: center;
}


.signup-with .btn {
    border: 1px solid #e4e6e8;
    color: #8083A3;
    font-weight: 600
}

.reset {
    font-size: 14px;
    color: #8083A3;
    font-weight: 600;
}
